<div class="p-4 max-h-[30rem]">
  <div class="pb-5">
    <div class="items-center">
      <p class="text-center text-xl text-semibold">About this place</p>
    </div>
  </div>
  <div class="pb-5 overscroll-contain">
    <%= @property.description %>
  </div>
</div>
