<div
  data-controller="modal"
  id='modal-wrapper'
  class="hidden modal fixed w-full h-full top-0 left-0 flex items-center justify-center z-20"
  data-transition-enter="transition ease-out duration-100"
  data-transition-enter-start="transform opacity-0 scale-95"
  data-transition-enter-end="transform opacity-100 scale-100"
  data-transition-leave="transition ease-in duration-75"
  data-transition-leave-start="transform opacity-100 scale-100"
  data-transition-leave-end="transform opacity-0 scale-95"
>
  <div class="hidden" id="modal-trigger" data-action="click->modal#showModal"></div>
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  
  <div id='modal-panel' class="modal-container bg-white w-full lg:max-w-lg mx-auto rounded-lg shadow-lg z-50 overflow-y-auto">
    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6">
      <%= render modal_content %>
    </div>
  </div>
</div>