<div>
  <h1 class="font-bold text-4xl">Stripe#purchase_success</h1>
  <p>You've sucessfully booked <%= @reservation.property.name %> from <%= @reservation.start_date %> until <%= @reservation.end_date %></p>
</div>
