<header class="nav-header" data-controller="header">
  <nav class="bg-white shadow-sm">
    <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
      <div class="nav-container flex items-center justify-between h-24">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <img class="h-14" src="<%=asset_path('airbnb-logo.png')%>" alt="Airbnb Logo">
        </div>
        <!-- Search bar -->
        <div class="flex justify-center flex-grow">
          <div class="flex justify-center">
            <input type="text" placeholder="Search" class="px-4 py-2 w-full rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 hover:bg-gray-200">
          </div>
        </div>
        <!-- User profile and dropdown menu -->
        <div class="flex items-center shadow rounded-full border-[1px] border-gray-200 hover:shadow-xl">
          <div class="flex items-center relative my-2.5 mx-1">
            <!-- User profile picture -->
            <div data-header-target="openUserMenu" class="mx-2 relative flex cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-6 my-auto ml-2 mr-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <button id="profileDropdown" class="focus:outline-none">
                <% avatar = user_signed_in? && current_user.profile.avatar.attached? ? current_user.profile.avatar : asset_path('default_avatar.png') %>
                <%= image_tag avatar, class: "h-10 w-10 rounded-full object-center object-cover"%>
              </button>
              <!-- Dropdown content -->
              <div 
                id="dropdownContent"
                class="hidden absolute right-0 mt-14 w-60 bg-white border border-gray-100 rounded-2xl shadow-xl py-2 z-10 divide-y divide-gray-100"
                style="z-index: 9"
                data-transition-enter="transition ease-out duration-100"
                data-transition-enter-start="transform opacity-0 scale-95"
                data-transition-enter-end="transform opacity-100 scale-100"
                data-transition-leave="transition ease-in duration-75"
                data-transition-leave-start="transform opacity-100 scale-100"
                data-transition-leave-end="transform opacity-0 scale-95"
              >
                <div class="py-1">
                  <% if user_signed_in? %>
                    <%= link_to 'Log out', destroy_user_session_path, class: "block px-4 py-2 text-gray-800 hover:bg-gray-100", data: { "turbo-method": :"delete"} %>
                  <% else %>
                    <a data-header-target="userAuthLink" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Sign up</a>
                    <a data-header-target="userAuthLink" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Log in</a>
                  <% end %>
                  
                </div>
                <div class="py-1">
                  <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Host your home</a>
                  <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Host an experience</a>
                  <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Help Center</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<%= render 'shared/modal', modal_trigger_id: "user-auth-modal-trigger", modal_content: 'home/user_auth_form', max_width: 'lg' %>